@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tagus';
  src: url('./assets/fonts/Tagus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChivoMono';
  src: url('./assets/fonts/ChivoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Tagus', sans-serif;
  }
}
